{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Bus Booking Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>

    <!-- Header -->
    <header style="background-color: #007bff; padding: 5px 20px;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <img src="{% static 'images/Bus.png' %}" alt="BusBooking" style="height: 60px;Width: 60px;padding: 0px"> <p id="username" style="color: white; margin-top: -20px;">Hello, {{ user.username }}</p>
        </div>
        <nav style="display: flex; gap: 20px;">
            <a href="/" style="color: white; text-decoration: none;">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="/buses/" style="color: white; text-decoration: none;">
                <i class="fas fa-bus"></i> Buses
            </a>
            <a href="/search/" style="color: white; text-decoration: none;">
                <i class="fas fa-search"></i> Search
            </a>
            <a href="/bookings/" style="color: white; text-decoration: none;">
                <i class="fas fa-ticket-alt"></i> My Bookings
            </a>
            <a href="/logout/" style="color: white; text-decoration: none;">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </nav>
    </div>
</header>

    <!-- Main Section -->

    {% block content %}
    {% endblock  %}



    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 BusBooking. All rights reserved.</p>
    </footer>

</body>
</html>
